<form (ngSubmit)="login(logInForm.value)" #logInForm="ngForm">
  <p class="title">Iniciar Sesion</p>
  <div>
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" ngModel>
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" ngModel>
  </div>
  <br />

  <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
  <p class="register-text">
    No tengo una cuenta, quiero <a class="register-link" [routerLink]="['/register']">registrarme</a>
  </p>
</form>
