<h1 id="tableLabel">Tabla Usuarios</h1>

<!--
<form (ngSubmit)="postUser(userForm)" #userForm="ngForm">
  <h2>Add Elements to Users Table</h2>
  <br />
  <div class="form-group">
    <label for="user_name">Username:</label>
    <input type="text" class="form-control" name="user_name" ngModel>
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" ngModel>
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" ngModel>
  </div>
  <br />

  <button type="submit" class="btn btn-primary">Send</button>
</form>

<p *ngIf="!users?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users.length">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Pass</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.user_id }}</td>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td><button (click)="deleteUser(user.user_id)" class="btn-delete">X</button></td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="postItems(itemsForm)" #itemsForm="ngForm">
  <h2>Add Elements to Items Table</h2>
  <div class="form-group">
    <label for="user_name">Item Name:</label>
    <input type="text" class="form-control" name="item_name" ngModel>
    <label for="item_description">Item Description:</label>
    <input type="text" class="form-control" name="item_description" ngModel>
    <label for="item_user_name">User:</label>
    <select class="form-control" [(ngModel)]="item_user_name" name="item_user_name">
      <option *ngFor="let user of users" [value]="user.user_id">{{ user.user_name }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Send</button>
</form>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items.length">
  <thead>
    <tr>
      <th>ID de item</th>
      <th>Nombre del item</th>
      <th>Descripcion del item</th>
      <th>ID de usuario dueño</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.item_id }}</td>
      <td>{{ item.item_name }}</td>
      <td>{{ item.item_description }}</td>
      <td>{{ item.user_id }}</td>
      <td><button (click)="deleteItem(item.item_id)" class="btn-delete">X</button></td>
    </tr>
  </tbody>
</table>

   -->

<form (ngSubmit)="postAuction(auctionsForm)" #auctionsForm="ngForm">
  <h2>Add Elements to Items Table</h2>
  <div class="form-group">
    <label for="startDate">Select Auction Start Date</label>
    <input type="date" name="date" ngModel />
    <input type="time" name="time" ngModel />
    <select class="form-control" [(ngModel)]="auction_item_id" name="auction_item_id">
      <option *ngFor="let item of items" [value]="item.item_id">{{ item.item_name }}</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Send</button>
</form>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="auctions.length">
  <thead>
    <tr>
      <th>ID de Subasta</th>
      <th>ID de item</th>
      <th>Comieno de subasta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auction of auctions">
      <td>{{ auction.auction_id }}</td>
      <td>{{ auction.item_id }}</td>
      <td>{{ auction.auction_start_date }}</td>
      <td><button (click)="deleteAuction(auction.auction_id)" class="btn-delete">X</button></td>
    </tr>
  </tbody>
</table>


