<div class="home-content">
  <h1>Matutes Auction House</h1>
  <p>Welcome to the best auction house worldwide</p>
    <h2>Know Matute:</h2>
  <div class="history-container">
    <article>
      <h3>Matute brushing his thoots</h3>
      <img src="../../assets/images/matubrushingthoot.jpg" />
    </article>
    <article>
      <h3>Matute with baddie</h3>
      <img src="../../assets/images/matuwbaddie.jpg" />
    </article>
    <article>
      <h3>Matute fishing in river</h3>
      <img src="../../assets/images/matufishing.jpg" />
    </article>
    <article>
      <h3>Matute crying for that b****</h3>
      <img src="../../assets/images/matucrying.jpeg" />
    </article>
    <article>
      <h3>Matute driving for beer</h3>
      <img src="../../assets/images/matudriving.jpg" />
    </article>
    <article>
      <h3>Matute helping with pulling</h3>
      <img src="../../assets/images/matuhelping.jpeg" />
    </article>
  </div>
</div>
