html {
  font-size: 14px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav {
  height: 60px;
  width: 100%;
  background-color: #14191E;
  display: grid;
  align-items: center;
  border-bottom: 4px solid #FB9900;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin: 0;
}

nav ul li a {
  font-weight: bold;
  font-size: 24px;
  transition: 150ms;
  color: white;
  cursor: pointer;
}

nav ul li a:hover {
  color: #FB9900;
  transition: 150ms;
}

.profile-icon {
  transition: 150ms;
  margin-left: 5px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile:hover .profile-icon {
  color: #FB9900;
  transition: 150ms;
}

::ng-deep .menu {
  background-color: #14191E;
  color: white;
}

::ng-deep .btn-menu {
  color: red !important;
}
