<header>
  <nav>
    <ul class="flex-grow">
      <li [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="" [routerLink]="['/']">MatutesAuctionHouse</a>
      </li>
      <li [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/auctions']">Auctions</a>
      </li>
      <li>
        <a [routerLink]="['/fetch-users']">Profile</a>
      </li>
    </ul>
  </nav>
</header>
